.article-selected{
    width: 750px;
    height: auto;


    padding-top: 96px;
    padding-bottom: 36px;
    padding-right: 54px;
    padding-left: 54px;

    border-radius: 5px;

    background-color: rgba(25, 25, 25, .7);

}

.article-selected h2{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-family: 'Rubik';
    font-size: 30px;
    color: white;

    margin: 0;

    align-self: flex-start;
}

.article-selected hr{
    width: 120px;
    height: 1px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 30px;

    border: 0px;
    background-color: white;

    align-self: flex-start;
}

.article-selected img{
    margin-top: 10px;
    margin-bottom: 40px;

    width: 750px;
    border-radius: 5px;
}

.article-selected p{
    max-width: 750px;

    text-align: justify;
    font-size: 20px;
    line-height: 2rem;

    margin-bottom: 50px;

    font-family: 'Ubuntu';
    color: white;
}

#ExitButton img{
    position: absolute;
    padding: 10px;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    
    transition: background-color 300ms;

    translate: 720px -880px;
}

#ExitButton img:hover{
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}