:root{
    --border-margin : 0%;
}

.article-selected{
    width: 750px;
    height: auto;


    padding-top: 96px;
    padding-bottom: 36px;
    padding-right: 54px;
    padding-left: 54px;

    border-radius: 5px;

    background-color: rgba(25, 25, 25, .7);
    
}

.article-selected h2{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-family: 'Rubik';
    font-size: 30px;
    color: white;

    margin: 0;
    margin-bottom: 30px;
    margin-right: var(--border-margin);
    padding-bottom: 10px;

    align-self: flex-start;

    border-bottom: solid 1px #ffffff;
}


.article-selected img{
    margin-top: 10px;
    margin-bottom: 40px;

    width: 750px;
    border-radius: 5px;
}

.article-selected p{
    max-width: 750px;

    text-align: justify;
    font-size: 20px;
    line-height: 2rem;

    margin-bottom: 50px;

    font-family: 'Ubuntu';
    color: white;
}

#ExitButton img{
    position: absolute;
    padding: 10px;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    
    transition: background-color 300ms;

    translate: 720px -880px;
}

#ExitButton img:hover{
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

@media only screen and (max-width: 1160px) {
    .article-selected{
        width: 600px;
    }
    .article-selected img{    
        width: 600px;
    }
    #ExitButton img{
        translate: 560px -860px;
    }
}

@media only screen and (max-width: 880px){
    .article-selected{
        width: 400px;
        padding-left: 74px;
        padding-right: 74px;
    }

    .article-selected img{    
        width: 400px;
    }

    .article-selected p{
        font-size: 18px;
        line-height: 1.5rem;
    }

    #ExitButton img{
        translate: 400px -820px;
    }
}

@media only screen and (max-width: 650px){
    .article-selected{
        width: 200px;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .article-selected img{    
        width: 200px;
    }

    .article-selected p{
        font-size: 16px;
        line-height: 1.1rem;
    }

    #ExitButton img{
        translate: 400px -820px;
    }
}