@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Ubuntu:wght@300&display=swap);

.article-selected{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;

    width: 800px;
    background-color: rgba(25, 25, 25, .7);
}

.article-selected img{
    width: 750px;
    border-radius: 5px;
}

.article-selected h2{
    text-transform: uppercase;
    font-family: 'Rubik';
    letter-spacing: 0.4rem;
    color: white;
    margin: 0;
    margin-top: 40px;
    padding-left: 25px;

    align-self: flex-start;
}

.article-selected hr{
    width: 100px;
    height: 1px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 25px;

    border: 0px;
    background-color: white;

    align-self: flex-start;
}

.article-selected p{
    max-width: 750px;

    text-align: justify;
}