@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Ubuntu:wght@300&display=swap);

header{
    height: 15vh;
    background-color: #fc284f;
}

header img{
    height: 15vh;
    margin: 0px 10%;
}

header h1{
    font-family: 'Noto Sans TC', sans-serif;
    color: #f6e7f7;

}

header h2{
    font-family: 'Ubuntu', sans-serif;
    color: #f6e7f7;
}

header button{
    font-family: 'Ubuntu', sans-serif;
    color: #f6e7f7;
    border: none;
    background-color: #fc284f;
    height: 15vh;
    padding: 0 20px;
    margin: 0px 5px;

    font-size: 18px;
}

header button:hover{
    background-color: #ff824a;
}

h1{
    margin: 0 0 ;
}

h2{
    margin: 0 0 ;
}

h3{
    margin: 0 0;
    font-weight: 1000;
    font-size: 22px;
    padding-top: 40px;
    color: #fc284f;
    font-family: 'Ubuntu', sans-serif;
}

h4{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #fc284f;
    font-family: 'Noto Sans TC', sans-serif;
}

li {
    display:flex;
    flex-direction: row;
    align-items: center;
}

li img{
    width: 100px;
    margin-right: 10px ;
    border: #ff824a solid 2px;
    border-radius: 10px;
}

form ul{
    padding-left: 0px;
}

form .flex{
    width: 50vw;
    justify-content: baseline;
    align-items: center;
}

form .grid li{
    padding: 0px 10px;
} 

ul input[type="number"]{
    width: 40px;
}

input{
    margin: 3px 0;
}

footer{
    display: flex;
    justify-content: space-around;

    background-color: #fc284f;
    height: 10vw;
    padding-left: 30px;
    padding-top: 30px;
}

footer h3{
    padding-top: 5px;
    font-size: 15px;
    color: white;
}
footer h4{
    margin-top: 0px;
    padding-left: 0px;
    font-style: italic;
    font-size: 10px;
    color: white;
}

#Menu{
    padding-left: 20px;
    padding-bottom: 10px;
}

#Orders{
    padding-left: 20px;
}

#Orders form{
    padding-left: 20px;
    padding-bottom: 20px;
}

.longtext{
    word-wrap: break-word;
    height: 80px;
    vertical-align: super;
}


.main{
    background-color: #d1d0d7;
    font-size: 14px;
    font-family: 'Noto Sans TC', sans-serif;
}


.main li{
    list-style-type: none;
    margin: 5px 0px;
}

.flex{
    display: flex;
}

.flex a{
    align-self: center;
}

.grid{
    display: grid;
}

.HeaderContent{
    padding: 1% 3%;
}

.Itens{
    width: 75vw;
    display: flex;
    justify-content: space-between;
}

.Itens span{
    font-style: italic;
    font-size: 10px;
}